@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@media only screen and (max-width: 1200px){
.header-mobile{
    display: flex;
}
.header{
    display: none;
}
}
:root{
    --main-color: #F77E23;
    
}
*{
    font-family: "Open Sans", sans-serif;
}
.header{
display: flex;
align-items: center;
justify-content: space-between;
}
.header__nav a{
color: rgba(64, 64, 64, 0.8);
text-decoration: none;
margin: 0 20px;
}

.btn{
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
    color: var(--main-color);
}
.--primary{
    background-color: var(--main-color);
   color: #fff;
}
.background{
    display: flex;
    align-items: center;
}
.background__content h1{
    font-size: 60px;
    width: 600px;
    
}
.background__content{
    flex-grow: 1;
}
body{
    padding: 0 100px;
}
.background{
    padding: 50px;
    background-image: url(image\ 13.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.background__image img{
width: 1000px;
}
.header-mobile{
    display: flex;
    background-color: whitesmoke;
}

